html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.power-red {
    color: red;
}

.power-symbol {
    color: red;
    font-size: 0.8em;
    vertical-align: super;
}

.calculator {
    width: 100%;
    max-width: 380px;
    background: #1e1e1e;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 -5px 30px rgba(0,0,0,0.5);
    box-sizing: border-box;
    margin: 0 auto 15px auto;
}

.input-line:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.05);
}

.display {
    height: auto;
    min-height: 130px;
    max-height: none;
    background: #ffffff;
    padding: 14px 12px;
    margin: 0px 5px 8px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    overflow: hidden;
}

.input-line {
    font-size: 42px;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
    height: 65px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
	-webkit-text-size-adjust: none;
    text-size-adjust: none;
	    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.input-line::-webkit-scrollbar {
    display: none;
}

.result-line {
    font-size: clamp(38px, 12vw, 48px);
    font-weight: bold;
    height: 60px;
    color: #555;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;

    display: flex;
    align-items: flex-end;       /* bottom */
    justify-content: flex-end;   /* right */
 }


.result-line::-webkit-scrollbar {
    display: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, 1fr);
    gap: 5px;
    padding: 0 5px;
    margin: 0;
	-webkit-user-select: none;
    user-select: none;
}

button {
    font-size: 28px;
    transition: transform 0.1s, opacity 0.1s !important;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    line-height: 1;
    background: #333;
    color: white;
    transition: 0.2s;
    box-shadow: 0 3px 0 #111;
	-webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
}

button:active {
    transform: translateY(2px) scale(0.95);
    box-shadow: none;
    opacity: 0.9;
}

.zero { grid-row: span 2; }
.ans { grid-column: span 2; }

button:nth-child(-n+4), 
button:nth-child(4n) {
    color: #00FF00;
}

body.light-mode {
    background: #e0e0e0;
}

body.light-mode .calculator {
    background: #f5f5f5;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

body.light-mode button {
    background: #ddd;
    color: #333;
    box-shadow: 0 3px 0 #bbb;
    font-size: 28px;
}

body.light-mode .display {
    background: #fdfdfd;
    border: 1px solid #ccc;
}

body.light-mode button:nth-child(-n+4), 
body.light-mode button:nth-child(4n) {
    color: #008000;
}

.sup {
    font-size: 0.65em;
    vertical-align: super;
    color: red;
}

.power-char {
    color: red !important;
    font-size: 0.8em;
    vertical-align: super;
}

.power-content {
    color: red !important;
    font-size: 1em;
    vertical-align: baseline;
}

.number-with-commas {
    letter-spacing: 0.2px;
}

.last-exp, .last-ans {
    font-size: clamp(12px, 4vw, 16px) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 5px !important;
}

body.light-mode .last-exp,
body.light-mode .last-ans {
    font-size: clamp(12px, 4vw, 16px) !important;
}

@media (max-width: 400px) {

    .calculator {
        max-width: 100%;
        padding: 20px 0 15px 0;
        border-radius: 0;
        box-shadow: none;
    }

    .display {
        height: auto;
        min-height: 120px;
        padding: 12px;
        margin: 0 5px 7px 5px;
    }

    .input-line {
        font-size: 42px;
        height: 65px;
    }

    .result-line {
        font-size:  48px;
		height: 65px;
    }

    .buttons {
        padding: 0 5px;
        grid-auto-rows: minmax(55px, 1fr);
    }

    button {
        font-size: 27px;
    }

    body.light-mode button {
        font-size: 27px;
    }
}

.input-line,
.result-line {
    line-height: 1;
    text-align: right;
	    font-family: sans-serif;
}